/* img{
    width: 500px;
}

button{
    background-color: #123c5d;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: inset #eee;
} */
#poke-container {
    width: 100%;
}

/* #poke-container div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
     background-color: black; 
    align-items: center;
} */
h1{
    text-align: center;
}

#poke-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img{
    width: 150px;
}